@font-face {
  font-family: 'Sora';
  src: url('../Fonts/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --cor-azul-claro: rgb(0, 210, 218);
    --cor-azul-escuro: rgb(40, 60, 90);
    --cor-preto: rgb(0, 0, 0);
    --cor-cinza-claro: rgb(233, 233, 233);
    --cor-branco: rgb(255, 255, 255);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

.container-exercicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input:focus {
  outline: none;
}